name: Test Semver Calculation

on:
  workflow_dispatch:

jobs:
  calculate-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Calculate next version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main

      - name: Print next version
        run: echo "Next calculated version ${{ steps.semver.outputs.next }}"
